<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width = device-width, initial-scale = 1, shrink-to-fit = no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <title>Cashflow Game</title>
</head>

<body>
<div class="container">
    <nav class="navbar navbar-expand-sm navbar-dark bg-secondary">
        <a class="navbar-brand" href="/cashflow">Cashflow Game App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/game">Game</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/information">Information</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="mt-6">
        <h1 style="color: darkgoldenrod">How Fast Can You Become a Millionaire?</h1>
    </div>

    <div>
        <img src="images/cashflow.jpg" style="display: inline-block; vertical-align: middle"; width="100%">
    </div>

    <h2 class="mt-4">Last games</h2>

    <table class="table">
        <thead class="thead-light">
        <tr>
            <th class="text-left">Date</th>
            <th class="text-left">Player number</th>
            <th class="text-left">Winner</th>
            <th class="text-left">Time</th>
            <th class="text-left">Details</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>23/03/2020</td>
            <td>3</td>
            <td>DOCTOR</td>
            <td>1h55m23s</td>
            <td><a href="#" class="btn btn-info" role="button">See</a></td>
        </tr>
        <tr>
            <td>22/03/2020</td>
            <td>5</td>
            <td>JANITOR</td>
            <td>0h55m26s</td>
            <td><a href="#" class="btn btn-info" role="button">See</a></td>
        </tr>
        <tr>
            <td>20/03/2020</td>
            <td>4</td>
            <td>SECRETARY</td>
            <td>1h15m44s</td>
            <td><a href="#" class="btn btn-info" role="button">See</a></td>
        </tr>
        </tbody>
    </table>
    <hr/>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>